<style type="text/css">
<!--
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
  
.Estilo1 {font-family: arial;   font-size: 9px; color: #0080c0; font-weight: bold;}
.Estilo3 {font-family: arial; font-size: 10px; font-weight: bold;}
.Estilo4 {color: #FF0000}
.Estilo5 {font-family: arial;   font-size: 10px; color: #999999;}
.Estilo8 {font-family: arial;   font-size: 10px;}
.Estilo14 {font-family: arial; font-size: 9px; color: #FF0000; font-weight: bold; }
.Estilo15 {font-family: Verdana; font-size: 11px; color: #FF0000; font-weight: bold; }
.Estilo99 {font-family: Verdana; font-size: 18px;   color: #999999; font-weight: bold;}
.Estilo100 {font-family: Verdana; font-size: 10px;  color: #0080c0;}
.Estilo101 {font-family: Verdana; font-size: 12px;  color: #0080c0; font-weight: bold;}
.Estilo102 {font-family: Verdana; font-size: 10px;  color: #808000;}
.Estilo108 {font-family: Verdana; font-size: 10px; color:#cc0099;}
.Estilo109 {font-family: Verdana; font-size: 16px; color:#cc0099; font-style: italic;}
.Estilo110 {font-family: Verdana; font-size: 16px; color:#808080;}
.Estilo111 {font-family: Verdana; font-size: 30px; color:#0066CC;}
.Estilo112 {font-family: Verdana; font-size: 9px; }
.Estilo113 {font-family: Verdana; font-size: 10px; color: #800080;}
.Estilo114 {font-family: Verdana; font-size: 10px; color: #006699; font-weight: bold;}
.Estilo115 {font-family: Verdana;   font-size: 10px;}
.Estilo118 {font-family: Verdana;   font-size: 10px; color: #006699;}
.Estilo119 {font-family: Verdana; font-size: 12px; color: #00000; font-weight: bold;}
.Estilo120 {font-family: Verdana; font-size: 10px; color: #808080; }
.Estilo120b {font-family: Verdana; font-size: 14px; color: #808080; font-weight: bold;}
.Estilo120c {font-family: Times New Roman; font-size: 15px; color: #808080; font-weight: bold;}
.Estilo121 {font-family: Verdana; font-size: 10px; color: #000000; }
.Estilo122 {font-family: Verdana; font-size: 10px; color: #000000; }
.Estilo122c {font-family: Times New Roman; font-size: 15px; color: #000000; font-weight: bold;}
.Estilo123 {font-family: Verdana; font-size: 10px; color: #669900; }
.Estilo124 {font-family: Verdana; font-size: 10px; color: #0080c0; }
.Estilo125 {font-family: Verdana; font-size: 10px; color: #808080; font-weight: bold; }
.Estilo126 {font-size: 12px; color: #000099; font-weight: bold; font-family: Verdana;}
.Estilo127 {font-family: Verdana; font-size: 10px; color: #0000FF; }
.Estilo128 {font-size: 12px; color: #FFFFFF; font-weight: bold; font-family: Verdana;}
.Estilo129 {font-size: 10px; color: #666666; font-family:"arial";}
.Estilo130 {font-family: Verdana; font-size: 10px; color:#336600;}
.Estilo131 {font-family: Verdana; font-size: 12px; color:#336600;}
.Estilo132 {font-family: Verdana; font-size: 12px; color:#003366;}
.Estilo133 {font-family: Verdana; font-size: 10px; color:#003366;}
.Estilo134 {font-family: Verdana; font-size: 12px; color: #000000;}
.Estilo135 {font-family: Verdana; font-size: 12px; color: #ccff99; font-weight: bold; }
.Estilo136 {font-family: Verdana; font-size: 12px; color: #FFFFFF; font-weight: bold; }
.Estilo136b {font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold; }
.Estilo137 {font-family: Verdana; font-size: 18px; color: #FFFFFF; font-weight: bold; }
.Estilo139 {font-family: Verdana; font-size: 10px; color: #0080c0; }
.Estilo142 {font-family: Verdana; font-size: 10px; color: #c0c0c0; }
.Estilo143 {font-family: Verdana; font-size: 10px; color: #000080; }
.Estilo144 {font-family: Verdana; font-size: 12px; color: #000080; font-weight: bold;}
.Estilo144b {font-family: Verdana; font-size: 12px; color: #993399; font-weight: bold;}
.Estilo145 {font-family: Verdana; font-size: 10px; color: #0099CC; }
.Estilo146 {font-family: Verdana; font-size: 10px; color: #006666; }
.Estilo151 {font-family: Verdana; font-size: 12px; font-weight: bold; color: #FFFFFF; }
.Estilo152 {font-family: Verdana; font-size: 12px; font-weight: bold; color: #000080; }
.Estilo230 {font-family: Verdana;   font-size: 10px; color: #808000;}
.Estilo231 {font-family: Verdana;   font-size: 10px; color: #FF0000;}
.Estilo232 {font-family: Verdana;   font-size: 12px; color: #9933cc;}
.Estilo120d {font-family: Verdana; font-size: 14px; color: #808080;}
.Estilo122d {font-family: Verdana; font-size: 14px; color: #000000;}


  a:link {
    color: #0000FF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
a:visited {
    color: #0000FF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
a:hover {
    color: #003333;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
a:active {
    color: #0000FF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.mu:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.mu:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.mu:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.mu:active {
    color: #FFFFFF;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.m:link {
    color: #0000FF;
    text-decoration: underline;
    font-family:verdana;
    font-size:10px;
}
.m:visited {
    color: #0000FF;
    text-decoration: underline;
    font-family:verdana;
    font-size:10px;
}
.m:hover {
    color: #003333;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.m:active {
    color: #0033CC;
    text-decoration: underline;
    font-family:verdana;
    font-size:10px;
}
.b:link {
    color: #0000FF;
    text-decoration:underline;
    font-family:verdana;
    font-size:10px;
    
}
.b:visited {
    color: #0000FF;
    text-decoration:underline;
    font-family:verdana;
    font-size:10px;
}
.b:hover {
    color: #003333;
    text-decoration:underline;
    font-family:verdana;
    font-size:10px;
}
.b:active {
    color: #0033CC;
    text-decoration:underline;
    font-family:verdana;
    font-size:10px;
}

.c:link {
    color: #999999;
    text-decoration:underline;
    font-family:verdana;
    font-size:11px;
    font-weight: bold;
    
}
.c:visited {
    color: #999999;
    text-decoration:underline;
    font-family:verdana;
    font-size:11px;
    font-weight: bold;
}
.c:hover {
    color: #999999;
    text-decoration:underline;
    font-family:verdana;
    font-size:11px;
    font-weight: bold;
}
.c:active {
    color: #999999;
    text-decoration:underline;
    font-family:verdana;
    font-size:11px;
    font-weight: bold;
}
.z:link {
    color:#FF0000;
    font-family:verdana;
    font-size:10px;
}
.z:visited {
    color: #FF0000;
    font-family:verdana;
    font-size:10px;
}
.z:hover {
    color: #333333;
    font-family:verdana;
    font-size:10px;
}
.z:active {
    color: #FF0000;
    font-family:verdana;
    font-size:10px;
}
.t:link {
    color:#333333;
    font-family:verdana;
    font-size:10px;
}
.t:visited {
    color: #333333;
    font-family:verdana;
    font-size:10px;
}
.t:hover {
    color: #333333;
    font-family:verdana;
    font-size:10px;
}
.t:active {
    color: #333333;
    font-family:verdana;
    font-size:10px;
}
.v:link {
font-family: Verdana;
    font-size: 10px;
    color: #808080;
    font-weight: bold;
}
.v:visited {
    font-family: Verdana;
    font-size: 10px;
    color: #808080;
    font-weight: bold;
}
.v:hover {
font-family: Verdana;
    font-size: 10px;
    color: #808080;
    font-weight: bold;
}
.v:active {
font-family: Verdana;
    font-size: 10px;
    color: #808080;
    font-weight: bold;
}
.g:link {
font-family: Verdana;
    font-size: 10px;
    color: #006699;
    font-weight: bold;
}
.g:visited {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
    font-weight: bold;
}
.g:hover {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
    font-weight: bold;
}
.g:active {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
    font-weight: bold;
}

.h:link {
font-family: Verdana;
    font-size: 10px;
    color: #006699;
}
.h:visited {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
}
.h:hover {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
}
.h:active {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
}
.i:link {
font-family: Verdana;
    font-size: 10px;
    text-decoration:underline;
    color: #006699;
    font-weight: bold;
}
.i:visited {
    font-family: Verdana;
    font-size: 10px;
    text-decoration:underline;
    color: #006699;
    font-weight: bold;
}
.i:hover {
    font-family: Verdana;
    font-size: 10px;
    color: #006699;
    text-decoration:none;
    font-weight: bold;
}
.i:active {
    font-family: Verdana;
    font-size: 10px;
    text-decoration:underline;
    color: #006699;
    font-weight: bold;
}
.d:link {
font-family: Verdana;
    font-size: 12px;
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}
.d:visited {
    font-family: Verdana;
    font-size: 12px;
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}
.d:hover {
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
    text-decoration:none;
    font-weight: bold;
}
.d:active {
    font-family: Verdana;
    font-size: 12px;
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}
.w:link {
    color: #0066CC;
    text-decoration: none;
    font-family:verdana;
    font-size:14px;
    font-weight: bold;
}
.w:visited {
    color: #0066CC;
    text-decoration: none;
    font-family:verdana;
    font-size:14px;
    font-weight: bold;
}
.w:hover {
    color: #003333;
    text-decoration: none;
    font-family:verdana;
    font-size:16px;
    font-weight: bold;
}
.w:active {
    color: #0066CC;
    text-decoration: none;
    font-family:verdana;
    font-size:14px;
    font-weight: bold;
}
.s:link {
    color: #0099CC;
    text-decoration: underline;
    font-family:verdana;
    font-size:10px;
}
.s:visited {
    color: #0099CC;
    text-decoration: underline;
    font-family:verdana;
    font-size:10px;
}
.s:hover {
    color: #0099CC;
    text-decoration: none;
    font-family:verdana;
    font-size:10px;
}
.s:active {
    color: #0099CC;
    text-decoration: underline;
    font-family:verdana;
    font-size:10px;
}
.d2:link {
font-family: Verdana;
    font-size: 10px;
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}
.d2:visited {
    font-family: Verdana;
    font-size: 10px;
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}
.d2:hover {
    font-family: Verdana;
    font-size: 10px;
    color: #ffffff;
    text-decoration:none;
    font-weight: bold;
}
.d2:active {
    font-family: Verdana;
    font-size: 10px;
    text-decoration:underline;
    color: #ffffff;
    font-weight: bold;
}
.style1 {
  border-width: 1px;
  font-family: Verdana;
  font-size: 10px;
  color: #000000;
  background-color: #FFFFCC;
}
.style2 {
  font-size: 10px;
  color: #FFFFFF;
}
.style3 {
  color: #FFFFFF;
}
.style4 {
  font-weight: bold;
}
.style5 {
  font-family: Verdana;
  font-size: 10px;
  color: #FFFFFF;
}
.style6 {
  font-family: Verdana;
  font-size: 10px;
  color: #FFFFFF;
  font-weight: normal;
}
.style7 {
  font-weight: normal;
}
.style8 {
  color: #808080;
}
.style9 {
  border-width: 1px;
  font-family: Verdana;
  font-size: 10px;
  color: #FFFFFF;
}
.style10 {
  font-family: Verdana;
  font-size: xx-small;
  color: #FFFFFF;
  font-weight: bold;
}
.style11 {
  font-size: xx-small;
  font-family: Verdana;
}
.style12 {
  font-size: xx-small;
  color: #000099;
  font-weight: bold;
  font-family: Verdana;
}
.style13 {
  font-family: "Times New Roman";
  font-size: xx-small;
}
-->
</style>

